.auth-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);

	.shop {
		position: absolute;
		top: 0;
		left: 15px;
		height: 100px;
	}

	.auth {
		width: 500px;

		&__sign-in {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			margin: 10px;
		}

		.example-form {
			width: 100%;
			min-width: 150px;
			max-width: 600px;
		}

		.example-full-width {
			width: 100%;
		}
	}

	.signature {
		display: flex;
		position: absolute;
		bottom: 20px;
		left: 20px;
		align-items: end;
		font-family: Allison, sans-serif;
		font-size: 60px;

		.avatar {
			height: 100px;
		}

		span {
			margin-bottom: 20px;
			margin-left: 20px;
		}
	}
}

@media (max-width: 1000px) {
	.auth-wrapper {
		.auth {
			width: 400px;
		}

		.signature {
			span {
				margin-bottom: 0;
				line-height: 40px;
			}
		}
	}
}

@media (max-width: 500px) {
	.auth-wrapper {
		.auth {
			width: 100%;
		}

		.signature {
			.avatar {
				height: 80px;
			}

			span {
				margin-right: 10px;
				margin-left: 10px;
				font-size: 40px;
				line-height: 35px;
			}
		}
	}
}

@media (max-width: 319px) {
	.auth-wrapper {
		.shop {
			height: 80px;
		}
	}

	.signature {
		.avatar {
			height: 60px;
		}

		span {
			margin-bottom: 0;
			margin-left: 10px;
			font-size: 36px;
			line-height: 25px;
		}
	}
}
