<div class="auth-wrapper">
  <div class="auth-wrapper__header">
    <img src="assets/img/south-park.png" alt="shop" class="auth-wrapper__header--img" />
    <div><button mat-button color="primary">I'm admin</button></div>
  </div>

  <div class="auth">
    <mat-tab-group
      [color]="(auth.errorLogin$ | async) || (auth.errorSignUp$ | async) ? 'warn' : 'primary'"
      [selectedIndex]="tabSelected"
      dynamicHeight
      mat-stretch-tabs>
      <mat-tab label="Sign In">
        <app-login-form (login)="login($event)" [submitted]="submitted"></app-login-form>
      </mat-tab>

      <mat-tab label="Sign Up">
        <app-signup-form (signup)="signup($event)" [submitted]="submitted"></app-signup-form>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="auth-wrapper__footer">
    <img src="assets/img/mysterion.png" alt="avatar" class="auth-wrapper__footer--avatar" />
    <div class="auth-wrapper__footer--signature">
      <span class="auth-wrapper__footer--name">Developed by Sergey Chumak*</span>
      <div class="auth-wrapper__footer--info">
        The materials posted on the site are used solely for educational purposes.
      </div>
    </div>
  </div>
</div>
