<div class="auth-wrapper">
  <div class="shop"></div>

  <div class="auth">
    <mat-tab-group color="primary" dynamicHeight mat-stretch-tabs>
      <mat-tab label="Sign in">
        <div class="auth__sign-in">
          <form class="auth__form">
            <mat-form-field color="primary" class="auth__form--full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. pat@example.com" autocomplete="off" />
            </mat-form-field>

            <mat-form-field class="auth__form--full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="email" matInput placeholder="******" />
            </mat-form-field>
          </form>
          <button mat-raised-button color="primary">Login</button>
        </div>
      </mat-tab>

      <mat-tab label="Sign up">
        <div class="auth__sign-in">
          <form class="auth__form">
            <mat-form-field class="auth__form--full-width" appearance="fill">
              <mat-label>Login</mat-label>
              <input type="text" matInput placeholder="Login" autocomplete="off" />
            </mat-form-field>

            <mat-form-field class="auth__form--full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. pat@example.com" autocomplete="off" />
            </mat-form-field>

            <mat-form-field class="auth__form--full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="******" autocomplete="off" />
            </mat-form-field>

            <mat-form-field class="auth__form--full-width" appearance="fill">
              <mat-label>Repeat password</mat-label>
              <input type="password" matInput placeholder="******" autocomplete="off" />
            </mat-form-field>
          </form>
          <button mat-raised-button color="primary">Submit</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="signature">
    <div class="avatar"></div>
    <span>Developed by Sergey Chumak</span>
  </div>
</div>
