.toggle-button {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 29px;
	margin: 0;
	transition: all 0.3s;
	border: 1px solid #b8b7b7;
	border-radius: 30px;
	outline: none;
	background: #fff;
	vertical-align: top;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.toggle-button::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 1px;
	width: 25px;
	height: 25px;
	transform: translateX(0);
	transition: all 0.3s;
	border-radius: 50%;
	background-color: #a9a9a9;
}

.toggle-button:checked::after {
	transform: translateX(calc(55% + 7px));
	background-color: #d2d2d2;
}

.toggle-button:checked {
	border: 1px solid #646464;
	background-color: #454545;
}
