<div class="content-dialog">
  <div class="content-dialog__title">Hi, {{ data.name }}</div>
  <div class="content-dialog__text">
    I know this is a suction. I know it's not worth it. That Kenny is dead again, and Kyle is Jew
    and still doesn't have AIDS. And your username may not be the most pleasant. But you<span>
      need to confirm the email.</span
    >
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button [color]="data.color" (click)="close()">Close</button>
</div>

<img class="img" src="assets/img/cartman-mage.jpg" alt="" />
